<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.itcast.oa.dao.UserMapper">

	<resultMap id="UserResultMap" type="com.itcast.oa.entity.User">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="loginName" column="loginName" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gander" column="gander" jdbcType="INTEGER"/>
        <result property="phoneNumber" column="phoneNumber" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">	   
		id, loginName, password, name, gander, phoneNumber, email, description
	</sql>

	<insert id="insert" parameterType="com.itcast.oa.entity.User">
        INSERT INTO user (
        	id ,
        	loginName ,
        	password ,
        	name ,
        	gander ,
        	phoneNumber ,
        	email ,
        	description 
        ) VALUES (
        	#{id, jdbcType=INTEGER} ,
        	#{loginName, jdbcType=VARCHAR} ,
        	#{password, jdbcType=VARCHAR} ,
        	#{name, jdbcType=VARCHAR} ,
        	#{gander, jdbcType=INTEGER} ,
        	#{phoneNumber, jdbcType=VARCHAR} ,
        	#{email, jdbcType=VARCHAR} ,
        	#{description, jdbcType=VARCHAR} 
        )	
	</insert>

	<insert id="insertIfNotnull"   parameterType="com.itcast.oa.entity.User">
        INSERT INTO user 
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
        		id ,
			</if>
			<if test="loginName != null">
        		loginName ,
			</if>
			<if test="password != null">
        		password ,
			</if>
			<if test="name != null">
        		name ,
			</if>
			<if test="gander != null">
        		gander ,
			</if>
			<if test="phoneNumber != null">
        		phoneNumber ,
			</if>
			<if test="email != null">
        		email ,
			</if>
			<if test="description != null">
        		description ,
			</if>
		</trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">
        		#{id, jdbcType=INTEGER} ,
			</if>
			<if test="loginName != null">
        		#{loginName, jdbcType=VARCHAR} ,
			</if>
			<if test="password != null">
        		#{password, jdbcType=VARCHAR} ,
			</if>
			<if test="name != null">
        		#{name, jdbcType=VARCHAR} ,
			</if>
			<if test="gander != null">
        		#{gander, jdbcType=INTEGER} ,
			</if>
			<if test="phoneNumber != null">
        		#{phoneNumber, jdbcType=VARCHAR} ,
			</if>
			<if test="email != null">
        		#{email, jdbcType=VARCHAR} ,
			</if>
			<if test="description != null">
        		#{description, jdbcType=VARCHAR} ,
			</if>
		</trim>
	</insert>
    
	<update id="update"  parameterType="com.itcast.oa.entity.User" >   
        UPDATE user SET
	        loginName = #{loginName, jdbcType=VARCHAR} ,
	        password = #{password, jdbcType=VARCHAR} ,
	        name = #{name, jdbcType=VARCHAR} ,
	        gander = #{gander, jdbcType=INTEGER} ,
	        phoneNumber = #{phoneNumber, jdbcType=VARCHAR} ,
	        email = #{email, jdbcType=VARCHAR} ,
	        description = #{description, jdbcType=VARCHAR} 
        WHERE 
	        id = #{id, jdbcType=INTEGER} 
	</update>

	<update id="updateIfNotnull"  parameterType="com.itcast.oa.entity.User">    
        UPDATE user 
			<set>
				<if test="loginName != null">
					loginName = #{loginName, jdbcType=VARCHAR} ,
				</if>
				<if test="password != null">
					password = #{password, jdbcType=VARCHAR} ,
				</if>
				<if test="name != null">
					name = #{name, jdbcType=VARCHAR} ,
				</if>
				<if test="gander != null">
					gander = #{gander, jdbcType=INTEGER} ,
				</if>
				<if test="phoneNumber != null">
					phoneNumber = #{phoneNumber, jdbcType=VARCHAR} ,
				</if>
				<if test="email != null">
					email = #{email, jdbcType=VARCHAR} ,
				</if>
				<if test="description != null">
					description = #{description, jdbcType=VARCHAR} ,
				</if>
			</set>
        WHERE 
	        id = #{id, jdbcType=INTEGER} 
	</update>

    <delete id="deleteById">  
        DELETE FROM user WHERE
        id = #{id } 
    </delete>
    
		<select id="selectById" resultMap="UserResultMap">
			SELECT <include refid="columns" />		   
			FROM user 
			WHERE 
			id = #{id, jdbcType=INTEGER} 
		</select>
	
	<sql id="selectList_where">
		<where>	      				
	       <if test="entity.id != null &amp;&amp; entity.id != ''">
		 		 		AND id = #{entity.id, jdbcType=INTEGER}
			</if>
	       <if test="entity.loginName != null &amp;&amp; entity.loginName != ''">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(entity.loginName,'like')">
		 	   	  	   AND loginName ${entity.loginName }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND loginName = #{entity.loginName, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="entity.password != null &amp;&amp; entity.password != ''">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(entity.password,'like')">
		 	   	  	   AND password ${entity.password }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND password = #{entity.password, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="entity.name != null &amp;&amp; entity.name != ''">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(entity.name,'like')">
		 	   	  	   AND name ${entity.name }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND name = #{entity.name, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="entity.gander != null &amp;&amp; entity.gander != ''">
		 		 		AND gander = #{entity.gander, jdbcType=INTEGER}
			</if>
	       <if test="entity.phoneNumber != null &amp;&amp; entity.phoneNumber != ''">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(entity.phoneNumber,'like')">
		 	   	  	   AND phoneNumber ${entity.phoneNumber }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND phoneNumber = #{entity.phoneNumber, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="entity.email != null &amp;&amp; entity.email != ''">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(entity.email,'like')">
		 	   	  	   AND email ${entity.email }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND email = #{entity.email, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
	       <if test="entity.description != null &amp;&amp; entity.description != ''">
		 	   <choose>
		 	   	  <when test="@Ognl@startWith(entity.description,'like')">
		 	   	  	   AND description ${entity.description }
		 	   	  </when>
		 	   	  <otherwise>
		 	   	  	   AND description = #{entity.description, jdbcType=VARCHAR}
		 	   	  </otherwise>
		 	   </choose>
			</if>
		</where>
	</sql>
		
    <select id="selectListCount" resultType="long">
        SELECT count(*) FROM user 
		<include refid="selectList_where"/>    
    </select> 
   
    <select id="selectList" resultMap="UserResultMap">
    	SELECT <include refid="columns" />
	    FROM user 
		<include refid="selectList_where"/>		
    </select>

</mapper>

